TOURISM_BASE_PATH="https://tourism.api.opendatahub.testingmachine.eu/v1"
GEO_BASE_PATH="https://geo.api.opendatahub.testingmachine.eu"
BASEMAP_STYLE_URL="https://tiles.openfreemap.org/styles/positron"
HEREMAPS_API_KEY=
